/* Fonts */
@font-face {
    font-family: 'cinque-terre';
    src: url('../assets/Fonts/CINQUETERRE.otf');
    font-style: normal;
}

@font-face {
    font-family: 'cinque-terre';
    src: url('../assets/Fonts/CINQUETERRE-Italic.otf');
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap');

/* Resume Modal */

.resume-modal {
    display: none;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.resume-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: none;
    margin: 3px;
}
.return {
    font-size: 15px;
}
.resume-h1 {
    flex-basis: 40%;
    font-size: 30px;
    margin-top: 15px;
}

.resume-nav {
    flex-basis: 40%;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    gap: 8px;
}

.resume-ul {
    font-size: 20px;
    margin-top: 8px;
    height: 30px;
}

.resume-footer {
    margin-top: 40%;
}

/* Resume Carousel */
.resume-carousel-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.resume-img {
    display: none;
    max-height: 375px;
    border: solid 1px #686763;
    box-shadow: 20px 20px 50px grey;
    margin-top: 10px;
}

.resume-img:first-of-type {
    display: block;
}

.resume-prev-btn,
.resume-next-btn {
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 40%;
    font-family: 'cinque-terre';
    font-size: 10px;
    font-style: italic;
    color: #686763;
    background-color: whitesmoke;
    border: #686763 1px solid;
    cursor: pointer;
}
.resume-prev-btn {
    margin-top: 42%;
}

/* Resume Page Tablet Styling */
@media screen and (min-width: 450px) {
    .resume-header {
        margin-left: 10px
    }
    .resume-h1 {
        font-size: 50px;
    }
    .resume-ul {
        margin-left: 140px;
    }

    .resume-img {
        max-height: 650px;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    .resume-prev-btn,
    .resume-next-btn {
        margin-top: 250px;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .resume-prev-btn {
        margin-top: 252px;
    }

    .resume-footer {
        margin-top: 50px;
    }

    .proj-btn {
        max-width: 150px;
    }
}