/* Fonts */
@font-face {
    font-family: 'cinque-terre';
    src: url('../assets/Fonts/CINQUETERRE.otf');
    font-style: normal;
}
@font-face {
    font-family: 'cinque-terre';
    src: url('../assets/Fonts/CINQUETERRE-Italic.otf');
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap');
/* Landing Page */
body {
    text-align: center;
    color: #686763;
    background-color: whitesmoke;
    font-family: 'cinque-terre';
    font-size: 20px;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    min-width: 100vh;
    padding: 10px;
    background-image: url('../assets/Images/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg');
    background-size: cover;
}
.header-nav {
    flex-basis: 100%;
    margin-bottom: 10px;
}
h1 {
    flex-basis: 100%;
    text-align: left;
    font-size: 50px;
    height: 75px;
    margin-left: 18px;
    margin-top: 10px;
}
.header-ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: 'cinque-terre';
    font-size: 20px;
}
.link {
    margin-top: 8px;
    margin-right: 5px;
}
.header-link {
    color: inherit;
    text-decoration: none;
    border: solid 1px;
    border-top: none;
    border-bottom: none;
    border-color: #686763;
    padding: 0px 5px;
    z-index: 0;
    transition: 1s;
}
.header-link:hover {
    animation: animate 2s 1;
}
@keyframes animate {
    50% {border-color: whitesmoke}
}
.logo {
    height: 30px;
    width: 30px;
    opacity: 70%;
}

.logo:hover {
    animation: logo 2s 1;
}
.header-logo {
    display: none;
}
@keyframes logo {
    50% {opacity: 20%;}
}
.flex-div {
    min-width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
}
.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 75%;
    max-width: 90%;
}
.brand-statement {
    flex-basis: 100%;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Playfair Display';
}
.quote {
    font-size: 30px;
}
.work-with-me {
    border: solid 1px;
    border-color: #686763;
    flex-basis: 50%;
    max-width: 250px;
    height: 75px;
    background-color: whitesmoke;
    color: #686763;
    font-size: 20px;
    font-family: 'cinque-terre';
}
.work-with-me:hover {
    animation: borderFill 5s infinite;
    cursor: pointer;
}
@keyframes borderFill {
    50% {background-color: #686763}
    50% {color:whitesmoke}    
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.footer-nav {
    display: flex;
    flex-direction: row;
}
.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
}
/* Scroll Sections */
.scroll-content{
    border-top: solid;
    border-bottom: solid;
    border-color: #686763;
    height: 1000px;

/* Parallax Scroll */
    background-image:url('../assets/Images/orfeas-green-G5A5ZNjS2tE-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

/* About Me Scroll Section */
.about-me-container {
    display: flex;
    justify-content: right;
    margin-top:30px;
    margin-left: 50px;
    margin-bottom: 25px;
    gap: 30px;
}
.profile-pic {
    height: 350px;
    border: #686763 1px solid;
    border-radius: 10%;
    margin-top: 60px;
}
.about-me-blurb {
    color: #686763;
    background-image: url('../assets/Images/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg');
    background-size: cover;
    border: #686763 1px solid;
    margin: 25px;
    margin-right: 5%;
    padding: 20px;
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 33px;
    box-shadow: 20px 20px 50px grey;
    max-width: 350px;

}
/* Projects Carousel */
.project-title-container {
    display: flex;
    justify-content: center;
}
.project-title{
    color:whitesmoke;
    font-size: 60px;
    margin-top: 20px;
    
}
.projects {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.carousel-image {
    display: none;
    width: 500px;
    border: solid 1px #686763;
    box-shadow: 20px 20px 50px grey;
    margin-top: 10px;
}
.carousel-image:first-of-type {
    display: block;
}
.prev-button, .next-button {
    height: 50px;
    width: 50px;
    margin-top: 15%;
    font-family: 'cinque-terre';
    font-size: 25px;
    font-style: italic;
    color: #686763;
    background-color: whitesmoke;
    border: #686763 1px solid;
    cursor: pointer;
}
/* Landing Page Desktop Styling */
@media screen and (min-width: 900px) {
.about-me-container {
    display: flex;
    justify-content: center;
}
.header-ul {
    font-size: 30px;
}
.logo {
    height: 40px;
    width: 40px
}
.brand-statement {
    flex-basis: 80%;
    font-size: 25px;
}
.work-with-me {
    max-width: 300px;
    margin-left: 0px;
}
.carousel-image {
    width: 600px;
    margin-top: 10px;
}
.prev-button, .next-button {
    margin-top: 10%;
}
}

/* Resume Modal */
.resume-modal {
    display: none;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.resume-header {
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: none;
}
.resume-h1 {
    flex-basis: 40%;
}
.resume-nav {
    flex-basis: 40%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.resume-ul {
    font-size: 20px;
    margin-top: 8px;
    height: 30px;
}
.resume-footer {
    margin-top: 20px;
}
/* Resume Carousel */
.resume-carousel-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    margin-top: 20px;
}
.resume-img {
    display: none;
    height: 500px;
    width: 350px;
    border: solid 1px #686763;
    box-shadow: 20px 20px 50px grey;
    margin-top: 10px;
}
.resume-img:first-of-type {
    display: block;
}
.resume-prev-btn, .resume-next-btn {
    height: 40px;
    width: 40px;
    margin-top: 25%;
    font-family: 'cinque-terre';
    font-size: 18px;
    font-style: italic;
    color: #686763;
    background-color: whitesmoke;
    border: #686763 1px solid;
    cursor: pointer;
}
.resume-next-btn {
    margin-top: 24%;
}
/* Resume Page Desktop Styling */
@media screen and (min-width: 900px){
.resume-header {
    margin-left: 80px
}
.resume-ul {
    margin-left: 140px;
}
.logo {
    height: 30px;
    width: 30px;
}
.resume-prev-btn, .resume-next-btn {
    margin-top: 12%;
}
}
/* Projects Modal */
.proj-header {
    height: 10vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: none;
}
.proj-h1 {
    flex-basis: 40%;
}
.proj-nav {
    flex-basis: 40%;
    margin-top: 10px;
}
.proj-ul {
    font-size: 20px;
    margin-top: 8px;
    list-style: none;
    text-decoration: none;
}
.projects-modal {
    display: none;
    height: 100%;
    width: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}
.project-video {
    width: 400px;
    border: solid 1px #686763;
}
.return {
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.proj-btn {
    width: 125px;
    height: 50px;
    font-size: 16px;
}
.proj-nav {
    display: flex;
    gap: 10px;
    height: 35px;
}
footer {
    margin-top: 10px;
}
.about-proj {
    flex-basis: 100%;
}
.about-proj:last-child {
    margin-bottom: 20px;
}
.video-desc-container {
     width: 410px;
}
/* Projects Desktop Styling */
@media screen and (min-width: 900px){
    .proj-header {
        margin-left: 80px
    }
    .proj-ul {
        margin-left: 140px;
    }
    .logo {
        height: 30px;
        width: 30px;

    }
    .proj-btn {
        flex-basis: 35%;
    }
    .video-desc-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 410px;
    }
    .about-proj {
        margin-top: 15px;
    }
}
/* Contact Card Modal */
.contact-card {
    display: none;
    height: 80vh;
    width: 45vw;
    background-image: url(../assets/Images/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg);
    background-size: cover;
    border: 1px solid #686763;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 30%;
    padding: 10px;
}
.contact-card-image {
    height: 280px;
    border-radius: 50%;
    border: 1px solid #686763;
    margin-left: 50px;
}
.contact-h1 {
    margin-left: 13%;
}
.contact-ul {
    display: flex;
    margin-left: 130px;
    margin-top: 15px;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
}
.close {
    height: 20px;
    flex-basis: 100%;
}
.contact-h3 {
    margin-top: 5px;
}
p {
    margin-top: 10px;
    font-size: 15px;
}
.contact-work-with-me {
    height: 40px;
    margin-top: 10px;
}
/* Contact Card Desktop Styling */
@media screen and (min-width: 900px) {
.contact-card {
    width: 400px;
    left: 35%;
}
    .contact-card-image {
    margin-left: 22%;
}
.contact-h1 {
    margin-left: 19%;
}
.contact-ul {
    margin-left: 42%;
    margin-top: 20px;
}
}